// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#messages {
  padding: 20px 0;
  min-height: 75vh;
}

.message-box {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  width: fit-content;
  border-radius: 25px;
  margin: 10px 0;
}

#new-message {
  background-color: rgb(220, 220, 220);
  padding: 30px;
  margin: 10px 0;
}
